body {
		background-color:gray;
		background-size: auto 100%;
		color:white;
		text-align:center;
	}

h1 {
		color: white;
		font-style: italic;
		font-size: 3em;
}

.huge {

		font-size: 5em;
		position: 100px 200px;
		color: purple;

}
 
li {
		color: yellow;
}

nav {
	font-size: .7em;
}

section {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
}

table {
	font-size:.8em;
	text-align: center;
}
