<!--Base Template opens head-->


<title>Bash Ring MMA: "CARD NAME: the greatest ever since the last!"</title>

</head>


<body>

	<h1>Bash Ring MMA: "CARD NAME: the greatest ever since the last!"</h1>

	<h3>First_Name "nickname" last_Name vs First_Name "nickname" last_name</h3>

	<span>fighter_1_odds <img src = "fighter1.png"> vs <img src="fighter2.png">fighter_2_odds</span>

	<!--<form id="signup" method="post">
                    <input type="text" id="title" placeholder="Post title" required/><br/><br/>
                    <textarea name="textarea" rows="5" cols="50" placeholder="Post your stuff." required></textarea><br/>
                    <input type="submit" name="submit" id="submit" value="Post to Forum" />
                </form>-->


</body>


</html>