{% extends 'predict_app/base_template.html' %}

{% load staticfiles %}

{% block main_content %}

<!--Base Template opens head-->


<title>Bash Ring MMA: Upcoming Cards {{ now|date:"b-d-Y" }}</title>

</head>


<body>

	<h1>Bash Ring MMA: Upcoming Cards {{ now|date:"E j" }}</h1>

	{% for tup in next_30_days %}
	<section class='event'>
		<h2>{{ tup.0.organization }}: {{tup.0.title}}</h2>
		<span class='cards_time'>{{ tup.0.start_time }}</span>
		<div><img src='{{tup.1.fighter1.image_url}}'> vs. <img src='{{tup.1.fighter2.image_url}}'></div>
		<a href="{% url 'fightcard' %}">Make your picks</a>
	</section>
	{% endfor %}

{% endblock %}