{% extends 'predict_app/base_template.html' %}

{% load staticfiles %}

{% block main_content %}

<!--Base Template opens head-->


<title>Bash Ring MMA: Upcoming Cards {{ now|date:"b-d-Y" }}</title>

</head>


<body>

<section>

	<h1>Bash Ring MMA: Recent Cards {{ now|date:"E j" }}</h1>

	{% for tup in last_30_days %}
	<!-- Each tup is a tuple with (aFightCard, aBout)-->
	<section class='event'>
		<h2>{{ tup.0.organization }}: {{tup.0.title}}</h2>
		<span class='cards_time'>{{ tup.0.start_time }}</span>
		<div><img src='{{tup.1.fighter1.image_url}}' width="146" height="146"> vs. <img src='{{tup.1.fighter2.image_url}}' width="146" height="146"></div>
		
		<a href="/fightcard/{{tup.0.id}}">See your picks</a>
		{{tup.0.short_description}}
	</section>
	
	
	{% endfor %}

</section>
{% endblock %}