{% extends 'predict_app/base_template.html' %}

{% load staticfiles %}

{% block main_content %}

<!--Base Template opens head-->


<title>Bash Ring MMA: {{ fight_card.title }}</title>

</head>


<body>

<section>

	<h1>UFC:{{ fight_card.title }}</h1>

	{% for bout in this_cards_bouts %}
	<section class='bout'>
		<h2>{{ bout.fighter1 }} vs. {{bout.fighter2}}</h2>
		<div><img src='{{bout.fighter1.image_url}}'> vs. <img src='{{bout.fighter2.image_url}}'></div>
		<a href="/predict_bout/{{bout.id}}">Make your picks</a><br>
		<div id="predictions">
			  {% for prediction in bout.user_prediction_set.all %}
				{{prediction.ring_user_id.last_name}} picked {{prediction.winner.last_name}} by {{prediction.method}}.<br>

			  {% endfor %}
		</div>
	</section>
	{% endfor %}

</section>

{% endblock %}