{% extends 'predict_app/base_template.html' %}

{% load staticfiles %}

{% block main_content %}

<!--Base Template opens head-->


<title>Bash Ring MMA: {{a_ring_user.first_name}}</title>

</head>


<body>

<section>

	<h1>Bash Ring MMA: {{a_ring_user.first_name}}</h1>

		<a img src="{{a_ring_user.avatar}}"/>

		<h2><a href="{% url 'display_upcoming_cards' %}">See Upcoming Cards</a></h2>

		<h2>Your Predictions</h2>
		{{predictions}}<br>
	
		<h3>Your Experience</h3>
		{{a_ring_user.experience}}
		<br>
		<h4>Your Accuracy</h4>
		{{a_ring_user.accuracy}}
		<br><br>

</section>
{% endblock %}